<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        {{ name }}, my congratulations!
    </h1>
    <div>
        <h2>
            Вы наш 1000-й покупатель! У нас для вас акция: купите 3 стула по цене двух и 1 получите совершенно бесплатно!
        </h2>
    </div>

    <div>
        <h3>
            Перейдите по ссылке для получения приза: <a href="" >Ссылка</a> 
        </h3>   
    </div>
</body>
</html>